body {
    margin: 0;
}
div.main {
    width: 100%;
    min-height: 100%;
    padding-bottom: 40px;
    background: linear-gradient(to left, #141e30, #243b55);
}
div.main h1 {
    margin: 0;
    padding: 10px 0px;
    padding-right: 12%;
    text-align: center;
    color: white;
}
.return-button {
    width: 10%;
    float: left;
    margin-left: 1%;
    margin-top: 2%;
    background-color: #000;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 8px;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
}
.return-button:hover {
    color: #AAA;
    border-color: #AAA;
}
.cart-product {
    height: 100px;
    width: 680px;
    margin: 10px auto;
    background-color: #0008;
    border-radius: 20px;
    box-shadow: 0px 5px 10px #666A;
    display: flex;
}
.product-img {
    width: 100px;
    height: 100%;
    border-right: 1px solid #000;
}
.product-img img {
    width: 100%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
}
.product-description {
    width: 360px;
    height: 100%;
    background-color: #FFF;
    padding-left: 20px;
    margin-right: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}
.product-price {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}
.product-control {
    width: 200px;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    background-color: #000;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.product-control .quantity {
    height: 30px;
    width: 100px;
    border: 2px solid #FFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.product-control .quantity .number {
    height: 100%;
    width: 35px;
    border-right: 2px solid #FFF;
    border-left: 2px solid #FFF;
    background-color: #FFF;
    color: #000;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: default;
}
.product-control .clear {
    height: 30px;
    width: 30px;
    font-size: 20px;
    border: 2px solid #FFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.purchase-button {
    width: 240px;
    height: 36px;
    margin: 0px auto;
    margin-top: 30px;
    background-color: #000;
    color: #FFF;
    border: 2px solid #FFF;
    border-radius: 16px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.purchase-button * {
    padding: 10px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 24px;
    background-color: #000;
    border-top: 1px solid #FFF;
    color: #FFF;
}
.logout-button {
    float: right;
    width: 10%;
    padding-top: 2px;
    text-align: center;
    display: flex;
    justify-content: right;
    align-items: center;
    cursor: pointer;
}
.logout-button:hover {
    color: #AAA;
}
.logout-button i{
    margin: 0px 5px;
}